.item{
    display: flex;
    align-items: center;
    background-color: aliceblue;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 6px;
}
.name{
    margin-left: 60px;
}
.onlineStatus{
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
}

.offlineStatus{
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}